<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye from example.com, <%= @user.firstname %></h1>
    <p>
      We're sorry to see you go.<br>
    </p>
  </body>
</html>